*{
    margin: 0px;
    padding: 0px;

}
body{
    font-family: sans-serif;
}
a{
    text-decoration: none;
}
.headers-nav-list{
    display: block;
    width: fit-content;
    padding: 25px;
    margin: 0 auto;

}
.headers-nav-item{
    display: inline-block;
    margin: 0 25px;
    font-size: 18px;
    font-weight: 700px;
    line-height: 18px;
    text-transform: uppercase;

}
.main-pic{
    margin: 0px auto;
}
.main-text{
    display: flex;
padding: 88px 0px;
margin: 0 270px ;
flex-direction: column;
align-items: center;
}
.paragraph{
font-family: Inter;
font-size: 21px;
font-weight: 500;
line-height: 150%; /* 31.5px */
}
.button{
    display: flex;
padding: 10px 24px;
margin: 50px auto 0px;
justify-content: center;
align-items: center;
background: #04959E;
}
.list{
    margin: 0px auto 50px;
}
.line{
    background-color:#04959E;
    height: 7px;
}
footer{
    display: flex;
flex-direction: column;
align-items: center;
align-self: stretch;
}